.App {
  text-align: center;
}
.hello{
  color:blue;
}
.header{ z-index: 2;
  color: whitesmoke;
  background-color:#5a7dc2;
  font-size: 30px !important;
  font-family: 'Cinzel', serif;
  display: block;
  height: 270px;
  width: 272px;
  line-height: 60px;
  -moz-border-radius: 130px; /* or 50% */
  border-radius: 130px; /* or 50% */
   text-align: center;
  /* font-size: 1em; */
  border-color:#EEE2DC;
  border-style: outset;
  border: 2px, 2px, 2px, 2px;
}
.first-login-link{
  text-decoration: underline;
  color: #5a7dc2;
  font-size: 20px;

}
.first-login-link:hover{
  color: #8aa9e9;
}

.button:focus{
  background-color:rgb(155, 49, 84)
}
.button:hover {
  background-color:rgb(236, 89, 141)
}
.button {
  background-color:rgb(197, 68, 113);
  border-color:#EEE2DC;
  border-style: outset;
  border: 2px, 2px, 2px, 2px;
}
.header-box{
  background-color: whitesmoke;
  color:#5a7dc2;
  border-color:#AC3B61;
  border-style: inset;
  border: 1px, 1px, 1px, 1px;
}

.App-header {
 background-color: #eacdd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-buttons {
  width:400px;
  height: 80px;
  text-align:center;
  background-color:#123C69;
  border-color:#EEE2DC;
  border-style: outset;
  border: 2px, 2px, 2px, 2px;
}
.main-buttons:hover{
  background-color: #BAB2B5
}
.main-buttons:active{
  background-color: rgb(113, 106, 158)
  
}
.delete-button{
  background-color: rgb(226, 57, 107)
}
.delete-button:hover{
  background-color: rgb(204, 48, 48)
}
.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
width:300px;
text-align:left;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
text-align: center;
width:50px;
}
.button-center {
text-align: center;
}
.Modal {
 position: relative;
 top: 250px;
 left: 400px;
 right: 20px;
 bottom: 20px;
 background-color: #F5F5F5;
 width:500px;
 border: 1px solid #000;
 border-radius: 4px;
 padding: 20px;
}
.Overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rebeccapurple;
}
.button-center {
text-align: center;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}
fieldset{
border:none;
margin:0px auto;
}
.closebtn{
 float:right;
}
